<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
{{insert table.html}}

<br>

{{ispage /blog/julia/*}}
<div class="container blog-title">
	{{isdef title}}<h1>{{fill title}}</h1>{{end}}
  <h3>
  {{isdef published}} <span style="font-weight: lighter;"> posted: {{fill published}}
  {{showmodified}}
  </span>
	|
	{{end}}
	{{isdef author}} <span style="font-weight: bold;">{{fill author}}</span> {{end}}
  <!-- assumption that only one of the two is defined -->
  {{isdef authors}} <span style="font-weight: bold;">{{fill authors}} </span> {{end}}
  </h3>
</div>
<br>
{{end}}


{{ispage /blog/spin/*}}
<div class="container blog-title">
	{{isdef title}}<h1>{{fill title}}</h1>{{end}}
  <h3>
  {{isdef published}} <span style="font-weight: lighter;"> posted: {{fill published}}
  {{showmodified}}
  </span>
	|
	{{end}}
	{{isdef author}} <span style="font-weight: bold;">{{fill author}}</span> {{end}}
  <!-- assumption that only one of the two is defined -->
  {{isdef authors}} <span style="font-weight: bold;">{{fill authors}} </span> {{end}}
  </h3>
</div>
<br>
{{end}}


<!-- Content appended here -->
